
.className1{
    width:50%;
	height:100%;
    display:inline-block;
    vertical-align: middle;
}
.className2{
    width:50%;
	height:100%;
    display:inline-block;
    vertical-align: middle;
}

.autoHeight{
    min-height: 200px;
    border: 1px solid black;
    width: 100%;
}


.editable-cell {
    position: relative;
}
  
.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}
  
.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}


.btnLayOut{
    float:right;
}

.noJump{
    color: grey
}

.bottomClass{
    margin-top: 10px;
}

.leftDis{
    margin-left: 20%;
}

:global{
    .Tleft{
  
      text-align-last: left;
      
    }
  }