/**
 * 作者：陈红华
 * 创建日期：2017-07-31
 * 邮箱：1045825949@qq.com
 * 文件说明：门户首页公告列表页面样式
 */
.contentTitle{display:inline-block;width:7%;font-size: 16px;color:#000;margin: 10px 0;}
.containerN{background: #fff;padding:20px;}
.containerUser{display: none;}
.contentN{background: #e9f1f5;border-radius: 5px;padding:10px;margin:10px 0;}
