/**
 * 作者：陈红华
 * 创建日期：2017-07-31
 * 邮箱：1045825949@qq.com
 * 文件说明：门户首页公告详情页面样式
 */
.n_title{
  text-align: center;
  border-bottom: 2px solid #ddd;
}
.n_title>h2{
  margin-bottom: 5px;
}
.n_content{
  margin-bottom:10px;
  border-radius: 3px;
  padding: 0 10px 10px 10px;
  background-color: #fff;
  min-height: 200px;
  font-size: 16px;
  line-height:26px;
}
.n_content p{
  margin: 1em 0;
  text-align:justify;
}
.n_content img{
  display:block;
  margin:0 auto;
}
.noticeUlContent{
  margin-top: 20px;
}
.noticeUlContent ul{
  margin-left: 20px;
}
.likeOrdis{
  text-align: center;
  color: #89949b;
}
.likeOrdis>dl{
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 3px 5px;
  display: inline-block;
  margin:20px 30px;
  cursor: pointer;
}
.likeOrdis>dl>dt{
  font-size: 20px;
}
.likeOrdis>dl>dd{
  font-size: 12px;
}
