/**
 * 作者：陈红华
 * 创建日期：2017-09-13
 * 邮箱：1045825949@qq.com
 * 文件说明：财务全成本公共样式
 */
.container{
  background:#fff;
  border-radius:5px;
  padding:15px;
  min-height: calc(100vh - 170px);
}
.erpTitleStyle p{
  /*text-align: center*/
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.erpTitleStyle a{
  font-size: 14px;
  font-weight: normal;
}
.erpFileuploadStyle{
  padding:15px;
  border:1px solid #ddd;
  margin-bottom:10px;
}
