/**
 * 作者：陈红华
 * 创建日期：2017-07-31
 * 邮箱：1045825949@qq.com
 * 文件说明：门户首页列表组件样式
 */
/*.maingageMessage{
  margin:24px auto;
}*/
.maingageMessage>div{
  /*background: #7ab0ec;*/
  color:#fff;
  padding: 0 20px;
  line-height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.leftContent{
  width:66%;
  overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
  color:#333;
}
.leftContent:hover{
  color:#fb947b;
}

.maingageMessage>div>span{
  float:right;
}
.maingageMessage>ul{
  float:left;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height:224px;
  overflow: hidden;
  width:100%;
}
.maingageMessage>ul>li{
  float:left;
  width:100%;
  line-height: 20px;
  padding: 10px 20px;
  border-bottom: 1px dotted #ddd;
}
.listStyle{
  padding: 10px;
}
.maingageMessage>ul.listStyle>li{
  background: #f9f9f9;
  border-bottom: 1px solid #fff;
}
/*.maingageMessage>ul.listStyle>li .leftContent{
  width:100%;
  overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	width:100%;
}*/

.MessageReadFlag{color: #ccc;}
.messageAndBacklog>b{display: inline-block;padding: 0 17px;cursor: pointer}
.activeMessageOrBacklog{border-bottom: 4px solid #fff}

.tableBg{
  padding: 0 !important;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height:224px;
  overflow: hidden;
  width:100%;
}
.tableBg table td{
    padding:0;
    border-bottom:1px dotted #ddd;
}
.tableBg table td:first-child{
    padding-left: 20px;
    text-align: left !important;
    cursor: pointer;
}
.tableBg table td:first-child:hover{
    color:#fb947b !important;
}
.tableBg table td:last-child{
    padding-right: 20px;
    min-width: 100px;
    text-align: right !important;
}
.space{
    padding:0 2px;
}
.col-sql{
    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 1;
}
.remind{
  font-size: 24px;
  color: red;
  font-family: cursive;
  font-weight: bolder;
}

.unDoStyle {
  color: #e16531;
  border: 1px #e16531;
  margin-right: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: #e16531 0 0 10px;
  -moz-box-shadow: #e16531 0 0 10px;
  box-shadow: #e16531 0 0 10px;
  padding: 0 5px;
}

.noticeStyle {
  color: #1296db;
  border: 1px #1296db;
  margin-right: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: #1296db 0 0 10px;
  -moz-box-shadow: #1296db 0 0 10px;
  box-shadow: #1296db 0 0 10px;
  padding: 0 5px;
}

.fileStyle {
  color: #ff9827;
  border: 1px #ffc752;
  margin-right: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: #ffc752 0 0 10px;
  -moz-box-shadow: #ffc752 0 0 10px;
  box-shadow: #ffc752 0 0 10px;
  padding: 0 5px;
}

.draftStyle {

}
