/*
 * 作者：刘东旭
 * 日期：2017-10-11
 * 邮箱：liudx100@chinaunicom.cn
 * 说明：加计扣除-表6的样式文件(v1.0)
 */
.container{
  background-color: #fff;
  padding: 25px 20px;
  min-height: inherit;
}
.selectMargin{
  margin-left: 8px;
}
.tableHead {
  margin-bottom:30px;
  padding: 15px;
  border: 1px solid #f4f4f4;
  background: #fff;
  border-radius: 2px;
  font-size: 14px;
  position: relative;
  transition: all .3s;
  display: block;
  overflow: hidden;
}

.coll div {
  overflow: hidden;
}
